# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Virtual environments
venv/
env/

# VSCode and IDE settings
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
