.tree-form {
  background: linear-gradient(to bottom right, #e0f7fa, #a5d6a7);
  min-height: 100vh;
  margin: 0;
  padding: 1rem;

  .form-label {
    font-weight: 600;
    color: #2c2c2c;
    font-size: 1rem;
  }

  input,
  select,
  textarea {
    width: 100%;
    padding: 0.75rem 1rem;
    font-size: 1.1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 1rem;
  }

  button {
    font-weight: bold;
    padding: 10px;
    border-radius: 6px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #157347;
    color: #ffffff;
  }

  @media (max-width: 576px) {
    padding: 0.5rem;

    button {
      font-size: 1rem;
      padding: 0.75rem;
    }
  }
}

/* // Global styles to support the form */
label {
  font-size: 1rem;
}

.btn {
  font-size: 1rem;
  padding: 0.75rem 1rem;

  @media (max-width: 575.98px) {
    font-size: 1rem;
    padding: 0.75rem;
  }
}
