{% load static %}
<div class="d-flex justify-content-center py-1">
    <a href="{% url 'tree_create' %}" class="btn btn-add w-100 w-sm-75 w-md-50 w-lg-25" style="max-width: 80%;">
        <i class="bi bi-plus-circle me-1"></i> ADD PLANT
    </a>
</div>
<div class="card-container-scrollable card-scroll">
<div class="row pb-2">
    {% for tree in trees %}
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-2 pt-0">
        <div class="card h-100">
            <img src="{% if tree.imageUrl %}{{ BASE_IMAGE_URL }}/media/{{ tree.imageUrl }}{% else %}{% static 'trees/images/no-plant-img.png' %}{% endif %}" class="card-img-top card-img" alt="{{ tree.plantName }}">
            <div class="card-body p-2">
                <h5 class="mb-1"><span>Name: </span>{{ tree.plantName }}</h5>
                <h6 class="mb-0 d-flex flex-wrap">
                    <div class="w-50"><span class="card-label">ID:</span> {{ tree.plantId }}</div>
                    <div class="w-50"><span class="card-label">Field:</span> {{ tree.fieldName }}</div>
                </h6>
                <h6 class="mb-0 d-flex flex-wrap">
                    <div class="w-50"><span class="card-label">Line No: </span> {{ tree.lineNumber }}</div>
                    <div class="w-50"><span class="card-label">Plant No: </span>{{ tree.plantNumber }}</div>
                </h6>
                <p class="card-text"><span class="card-label">Description: </span>{{ tree.description }}</p>
            </div>
            <div class="card-footer text-center d-flex">
                <a href="{% url 'tree_update' tree.id %}" class="btn btn-sm btn-edit w-50 me-1">Edit</a>
                <a href="{% url 'tree_delete' tree.id %}" class="btn btn-sm btn-delete w-50 ms-1">Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>