{% load static %}
<div class="container">
    <div class="row pt-4">
        {% for tree in trees %}
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <img src="{{ BASE_IMAGE_URL }}/media/{{ tree.imageUrl }}" class="card-img-top" alt="{{ tree.name }}">
                <div class="card-body">
                    <h4 class="card-title">Name: {{ tree.name }}</h4>
                    <h5 >Id: {{ tree.plantId }}</h5>
                    <h5 >Field: {{ tree.fieldName }}</h5>
                    <h5 >Line: {{ tree.lineNumber }}</h5>
                    <h5 >plantNumber: {{ tree.plantNumber }}</h5>
                    <p class="card-text">Description: {{ tree.desc }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>